workflow-integration-mvp.json
{
  "name": "Address Github PR Comments",
  "nodes": [
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "eventCategory",
              "value": "={{ $json.headers['x-github-event'] === 'pull_request' && ['opened', 'synchronize'].includes($json.body.action) ? 'code' : 'comment' }}"
            },
            {
              "name": "eventType",
              "value": "={{ $json.headers['x-github-event'] }}"
            },
            {
              "name": "action",
              "value": "={{ $json.body.action }}"
            },
            {
              "name": "pr_number",
              "value": "={{ $json.body.pull_request?.number || $json.body.issue?.number }}"
            },
            {
              "name": "pr_title",
              "value": "={{ $json.body.pull_request?.title || $json.body.issue?.title || 'N/A' }}"
            },
            {
              "name": "pr_branch",
              "value": "={{ $json.body.pull_request?.head?.ref || '' }}"
            },
            {
              "name": "repository",
              "value": "={{ $json.body.repository.name }}"
            },
            {
              "name": "author",
              "value": "={{ $json.body.sender?.login || $json.body.comment?.user?.login || '' }}"
            },
            {
              "name": "pr_url",
              "value": "={{ $json.body.pull_request?.html_url || $json.body.issue?.pull_request?.html_url || $json.body.comment?.pull_request_url }}"
            },
            {
              "name": "comment_text",
              "value": "={{ $json.body.comment?.body || $json.body.review?.body || '' }}"
            },
            {
              "name": "file_path",
              "value": "={{ $json.body.comment?.path || '' }}"
            },
            {
              "name": "line_number",
              "value": "={{ $json.body.comment?.line || $json.body.comment?.original_line || null }}"
            },
            {
              "name": "start_line",
              "value": "={{ $json.body.comment?.start_line || null }}"
            },
            {
              "name": "code_context",
              "value": "={{ $json.body.comment?.diff_hunk || '' }}"
            },
            {
              "name": "comment_url",
              "value": "={{ $json.body.comment?.html_url || '' }}"
            },
            {
              "name": "commit_id",
              "value": "={{ $json.body.comment?.commit_id || $json.body.pull_request?.head?.sha || '' }}"
            },
            {
              "name": "formatted_context",
              "value": "={{ $json.headers['x-github-event'] === 'pull_request_review_comment' ? `**Comment by ${$json.body.sender?.login}**\\n${$json.body.comment?.body || 'No comment text'}\\n\\n**File:** ${$json.body.comment?.path || 'N/A'}\\n**Line:** ${$json.body.comment?.line || 'N/A'}\\n\\n**Code Context:**\\n\\`\\`\\`diff\\n${$json.body.comment?.diff_hunk || 'No code context'}\\n\\`\\`\\`\\n\\n[View Comment](${$json.body.comment?.html_url || '#'})` : `**${$json.body.sender?.login}** ${$json.body.action} PR #${$json.body.pull_request?.number || $json.body.issue?.number}` }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dd80b626-2871-45eb-9621-469ccbc2febb",
      "name": "Parse Webhook Data1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        704,
        768
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.eventCategory }}",
        "rules": {
          "rules": [
            {
              "value2": "comment",
              "output": 1
            },
            {
              "value2": "code"
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "811eb3bf-e87a-4667-a49e-1df63dceddf6",
      "name": "Route by Event Type1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        928,
        736
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "worktree_path",
              "value": "=/home/delorenj/code/triumph/trinote2.0/pr-{{ $json.pr_number }}-{{ $json.pr_title.toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 20) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "768e6487-df14-4af0-bce5-341833c45423",
      "name": "Set Worktree Path3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1376,
        576
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'PR review workflow completed', pr_number: $node['Parse Webhook Data1'].json.pr_number, event_type: $node['Parse Webhook Data1'].json.eventType, action: $node['Parse Webhook Data1'].json.action }) }}",
        "options": {}
      },
      "id": "8d14d2fb-4e4e-4798-8017-39e9f44756b9",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1824,
        768
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "pr-events",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9639e0fa-8321-409f-a034-c97e23a7f83d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        480,
        768
      ],
      "webhookId": "83e298da-352f-48cf-ab84-3e7bfe26331b"
    },
    {
      "parameters": {},
      "type": "CUSTOM.openCodePrReview",
      "typeVersion": 1,
      "position": [
        1600,
        576
      ],
      "id": "05e63698-47ea-4e8e-9334-a94820d84e0b",
      "name": "OpenCode PR Review3"
    },
    {
      "parameters": {},
      "type": "CUSTOM.openCodePrReview",
      "typeVersion": 1,
      "position": [
        1600,
        768
      ],
      "id": "79699abc-aea7-4d43-b1f4-39f556f95752",
      "name": "OpenCode PR Review4"
    },
    {
      "parameters": {},
      "type": "CUSTOM.openCodePrReview",
      "typeVersion": 1,
      "position": [
        1600,
        960
      ],
      "id": "df672c07-a78b-4175-8458-d387d32e34ea",
      "name": "OpenCode PR Review5"
    },
    {
      "parameters": {
        "command": "=/home/delorenj/code/triumph/trinote2.0/scripts/pr-worktree-manager.sh create {{ $json.pr_number }} {{ $json.pr_branch }} \"{{ $json.pr_title }}\""
      },
      "id": "5a189fc7-259c-4455-b4a2-cbb5b054fb44",
      "name": "New PR Worktree1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1152,
        576
      ]
    },
    {
      "parameters": {
        "command": "=/home/delorenj/code/triumph/trinote2.0/scripts/pr-worktree-manager.sh create {{ $json.pr_number }} {{ $json.pr_branch }} \"{{ $json.pr_title }}\""
      },
      "id": "2a865905-16db-4a33-8101-2f3849e4bc57",
      "name": "Address Comment Worktree1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1152,
        768
      ]
    },
    {
      "parameters": {
        "command": "=/home/delorenj/code/triumph/trinote2.0/scripts/pr-worktree-manager.sh create {{ $json.pr_number }} {{ $json.pr_branch }} \"{{ $json.pr_title }}\""
      },
      "id": "953b4fa5-4c04-4976-be41-6da3a01da1ae",
      "name": "PR Updated Worktree1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1152,
        960
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "worktree_path",
              "value": "=/home/delorenj/code/triumph/trinote2.0/pr-{{ $json.pr_number }}-{{ $json.pr_title.toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 20) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "30d6855b-45d4-4615-b74f-0b57b9103eec",
      "name": "Set Worktree Path4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1376,
        768
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "worktree_path",
              "value": "=/home/delorenj/code/triumph/trinote2.0/pr-{{ $json.pr_number }}-{{ $json.pr_title.toLowerCase().replace(/[^a-z0-9]+/g, '-').substring(0, 20) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "365d39d3-c37b-4d26-99c8-18ce19b9c66a",
      "name": "Set Worktree Path5",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1376,
        960
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.delo.sh",
            "user-agent": "GitHub-Hookshot/bde5943",
            "content-length": "31891",
            "accept": "*/*",
            "content-type": "application/json",
            "x-forwarded-for": "140.82.115.17",
            "x-forwarded-host": "n8n.delo.sh",
            "x-forwarded-port": "443",
            "x-forwarded-prefix": "/",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "d1f78a85410f",
            "x-github-delivery": "a980fb20-60a8-11f0-834b-df25ae366252",
            "x-github-event": "pull_request_review_comment",
            "x-github-hook-id": "557919296",
            "x-github-hook-installation-target-id": "942212744",
            "x-github-hook-installation-target-type": "repository",
            "x-real-ip": "140.82.115.17",
            "accept-encoding": "gzip"
          },
          "params": {},
          "query": {},
          "body": {
            "action": "created",
            "comment": {
              "url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/comments/2204704144",
              "pull_request_review_id": 3016036278,
              "id": 2204704144,
              "node_id": "PRRC_kwDOOCkGiM6DaR2Q",
              "diff_hunk": "@@ -0,0 +1,137 @@\n+# Phone Log Feature - Issues Summary and Recommendations\n+\n+## Overview\n+This document summarizes the issues discovered during the phone log feature implementation and provides recommendations for future improvements.\n+\n+## Completed Improvements\n+\n+### 1. Tab Navigation (Task 34) - ✅ COMPLETED\n+**Issue:** Phone log history page showed all calls in a single list without filtering options.\n+**Solution:** Added tab navigation to filter calls by status (All/Completed/Pending).\n+**Impact:** Users can now easily view pending calls that need attention.\n+\n+### 2. Topic Field Enhancement (Task 35) - ✅ COMPLETED  \n+**Issue:** Topic field was in the wrong location and required manual text entry.\n+**Solution:** Moved topic field to preparation phase and converted to combobox with common topics.\n+**Impact:** Faster call logging with predefined topics while maintaining flexibility for custom entries.\n+\n+### 3. Contact Selection (Task 36) - ✅ COMPLETED\n+**Issue:** No way to specify which parent/guardian was contacted when multiple contacts exist.\n+**Solution:** Added dropdown to select specific contact person from available contacts.\n+**Impact:** More accurate record keeping of who was actually reached.\n+\n+### 4. Notes Visibility (Task 37) - ✅ COMPLETED\n+**Issue:** Users reported notes weren't saving (but they were - just not visible).\n+**Solution:** Added visual indicators (badges) and improved display of notes in the table.\n+**Impact:** Clear feedback that notes are saved and easy access to view them.\n+\n+### 5. Phone Log History Default View (Task 38) - ✅ COMPLETED\n+**Issue:** Call logging form was shown by default instead of call history.\n+**Solution:** Changed default view to show history with \"Log Call\" button to access form.\n+**Impact:** Better workflow - users see history first, then log new calls as needed.\n+\n+### 6. Search Functionality (Task 39) - ✅ COMPLETED\n+**Issue:** No way to search through phone log history.\n+**Solution:** Added search bar to filter by topic, notes, call type, or contact name.\n+**Impact:** Quick access to specific calls without manual scrolling.\n+\n+## Discovered Issues & Recommendations\n+\n+### 1. Test Infrastructure Issues\n+**Problem:** Several tests had to be skipped due to DOM structure issues with duplicate elements in the table rendering.\n+**Recommendation:** \n+- Review table component structure to ensure unique element rendering\n+- Consider refactoring the table to use more semantic HTML that's easier to test\n+- Update Radix UI components to latest versions which may have better test compatibility\n+\n+### 2. Missing Call Duration Tracking\n+**Problem:** Phone logs don't track actual call duration, only the date.\n+**Recommendation:**\n+- Add call start/end time fields to the phone log model\n+- Display duration in the history table\n+- Consider adding minimum call duration validation\n+\n+### 3. No Bulk Operations\n+**Problem:** Users cannot perform actions on multiple phone logs at once.\n+**Recommendation:**\n+- Add checkbox selection for multiple logs\n+- Implement bulk delete/export functionality\n+- Add ability to mark multiple calls as reviewed\n+\n+### 4. Limited Reporting\n+**Problem:** No analytics or reporting on phone log patterns.\n+**Recommendation:**\n+- Add dashboard showing call frequency by client\n+- Track average time between calls\n+- Generate reports on overdue calls\n+- Export functionality for compliance reporting\n+\n+### 5. No Template System\n+**Problem:** Common call scenarios require retyping similar information.\n+**Recommendation:**\n+- Create call templates for common situations\n+- Allow saving frequently used note patterns\n+- Pre-populate fields based on call type selection\n+\n+### 6. Missing Reminders/Scheduling\n+**Problem:** No proactive reminder system for overdue calls.\n+**Recommendation:**\n+- Add configurable reminder thresholds per client\n+- Email/notification system for overdue calls\n+- Integration with calendar systems\n+- Bulk scheduling of routine check-in calls\n+\n+### 7. Accessibility Improvements Needed\n+**Problem:** Limited keyboard navigation and screen reader support.\n+**Recommendation:**\n+- Add keyboard shortcuts for common actions\n+- Improve ARIA labels throughout the interface\n+- Test with screen readers and fix any issues\n+- Add high contrast mode support\n+\n+### 8. Mobile Experience\n+**Problem:** Phone log interface not optimized for mobile devices.\n+**Recommendation:**\n+- Create responsive design for phone/tablet use\n+- Simplify form for mobile data entry\n+- Add voice-to-text for notes on mobile\n+- Consider native mobile app for field use\n+\n+### 9. Integration Opportunities\n+**Problem:** Phone logs exist in isolation from other systems.\n+**Recommendation:**\n+- Integrate with phone systems for automatic call logging\n+- Connect to CRM for comprehensive client view\n+- API endpoints for third-party integrations\n+- Webhook support for external notifications\n+\n+### 10. Data Validation & Quality\n+**Problem:** Limited validation on phone log entries.\n+**Recommendation:**\n+- Add phone number format validation\n+- Require minimum note length for certain call types\n+- Flag suspicious patterns (e.g., multiple calls same day)\n+- Data quality dashboard for managers\n+\n+## Priority Matrix\n+\n+### High Priority (Do Next)\n+1. Fix test infrastructure issues\n+2. Add call duration tracking\n+3. Implement basic reporting/analytics\n+\n+### Medium Priority (Plan For)\n+1. Template system for common calls\n+2. Reminder/scheduling system\n+3. Mobile optimization\n+\n+### Low Priority (Nice to Have)\n+1. Bulk operations\n+2. Third-party integrations\n+3. Advanced accessibility features\n+",
              "path": "PHONE_LOG_SUMMARY.md",
              "commit_id": "d98c7bd0114786b996d57f53e440d2d29ebfeaf2",
              "original_commit_id": "d98c7bd0114786b996d57f53e440d2d29ebfeaf2",
              "user": {
                "login": "delorenj",
                "id": 242611,
                "node_id": "MDQ6VXNlcjI0MjYxMQ==",
                "avatar_url": "https://avatars.githubusercontent.com/u/242611?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/delorenj",
                "html_url": "https://github.com/delorenj",
                "followers_url": "https://api.github.com/users/delorenj/followers",
                "following_url": "https://api.github.com/users/delorenj/following{/other_user}",
                "gists_url": "https://api.github.com/users/delorenj/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/delorenj/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/delorenj/subscriptions",
                "organizations_url": "https://api.github.com/users/delorenj/orgs",
                "repos_url": "https://api.github.com/users/delorenj/repos",
                "events_url": "https://api.github.com/users/delorenj/events{/privacy}",
                "received_events_url": "https://api.github.com/users/delorenj/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "body": "test",
              "created_at": "2025-07-14T11:49:55Z",
              "updated_at": "2025-07-14T11:49:56Z",
              "html_url": "https://github.com/YIC-Triumph/trinote2.0/pull/223#discussion_r2204704144",
              "pull_request_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/223",
              "author_association": "COLLABORATOR",
              "_links": {
                "self": {
                  "href": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/comments/2204704144"
                },
                "html": {
                  "href": "https://github.com/YIC-Triumph/trinote2.0/pull/223#discussion_r2204704144"
                },
                "pull_request": {
                  "href": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/223"
                }
              },
              "reactions": {
                "url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/comments/2204704144/reactions",
                "total_count": 0,
                "+1": 0,
                "-1": 0,
                "laugh": 0,
                "hooray": 0,
                "confused": 0,
                "heart": 0,
                "rocket": 0,
                "eyes": 0
              },
              "start_line": 118,
              "original_start_line": 118,
              "start_side": "RIGHT",
              "line": 132,
              "original_line": 132,
              "side": "RIGHT",
              "in_reply_to_id": 2201127021,
              "original_position": 132,
              "position": 132,
              "subject_type": "line"
            },
            "pull_request": {
              "url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/223",
              "id": 2659609717,
              "node_id": "PR_kwDOOCkGiM6ehmx1",
              "html_url": "https://github.com/YIC-Triumph/trinote2.0/pull/223",
              "diff_url": "https://github.com/YIC-Triumph/trinote2.0/pull/223.diff",
              "patch_url": "https://github.com/YIC-Triumph/trinote2.0/pull/223.patch",
              "issue_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues/223",
              "number": 223,
              "state": "open",
              "locked": false,
              "title": "Task 33: Phone log feature summary and recommendations",
              "user": {
                "login": "delorenj",
                "id": 242611,
                "node_id": "MDQ6VXNlcjI0MjYxMQ==",
                "avatar_url": "https://avatars.githubusercontent.com/u/242611?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/delorenj",
                "html_url": "https://github.com/delorenj",
                "followers_url": "https://api.github.com/users/delorenj/followers",
                "following_url": "https://api.github.com/users/delorenj/following{/other_user}",
                "gists_url": "https://api.github.com/users/delorenj/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/delorenj/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/delorenj/subscriptions",
                "organizations_url": "https://api.github.com/users/delorenj/orgs",
                "repos_url": "https://api.github.com/users/delorenj/repos",
                "events_url": "https://api.github.com/users/delorenj/events{/privacy}",
                "received_events_url": "https://api.github.com/users/delorenj/received_events",
                "type": "User",
                "user_view_type": "public",
                "site_admin": false
              },
              "body": "## Summary\n- Created comprehensive documentation of all phone log improvements\n- Summarized discovered issues and provided recommendations for future enhancements\n\n## Changes\n- Added `PHONE_LOG_SUMMARY.md` document with:\n  - Overview of all completed tasks (34-39)\n  - Detailed list of discovered issues\n  - Prioritized recommendations for future improvements\n  - Technical debt items to address\n\n## Document Sections\n1. **Completed Improvements** - Summary of all 6 tasks implemented\n2. **Discovered Issues & Recommendations** - 10 areas for future enhancement\n3. **Priority Matrix** - High/Medium/Low priority groupings\n4. **Conclusion** - Next steps and immediate priorities\n\n## Test plan\n- [x] Document review completed\n- [x] All implemented features documented\n- [x] Recommendations are actionable and prioritized\n\n🤖 Generated with [Claude Code](https://claude.ai/code)",
              "created_at": "2025-07-11T16:02:57Z",
              "updated_at": "2025-07-14T11:49:55Z",
              "closed_at": null,
              "merged_at": null,
              "merge_commit_sha": "5b9263f2543ac6ae159d08ad7a20e0456d50a03e",
              "assignee": null,
              "assignees": [],
              "requested_reviewers": [],
              "requested_teams": [],
              "labels": [],
              "milestone": null,
              "draft": false,
              "commits_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/223/commits",
              "review_comments_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/223/comments",
              "review_comment_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/comments{/number}",
              "comments_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues/223/comments",
              "statuses_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/statuses/d98c7bd0114786b996d57f53e440d2d29ebfeaf2",
              "head": {
                "label": "YIC-Triumph:fix/task-33-summary",
                "ref": "fix/task-33-summary",
                "sha": "d98c7bd0114786b996d57f53e440d2d29ebfeaf2",
                "user": {
                  "login": "YIC-Triumph",
                  "id": 156126668,
                  "node_id": "O_kgDOCU5NzA",
                  "avatar_url": "https://avatars.githubusercontent.com/u/156126668?v=4",
                  "gravatar_id": "",
                  "url": "https://api.github.com/users/YIC-Triumph",
                  "html_url": "https://github.com/YIC-Triumph",
                  "followers_url": "https://api.github.com/users/YIC-Triumph/followers",
                  "following_url": "https://api.github.com/users/YIC-Triumph/following{/other_user}",
                  "gists_url": "https://api.github.com/users/YIC-Triumph/gists{/gist_id}",
                  "starred_url": "https://api.github.com/users/YIC-Triumph/starred{/owner}{/repo}",
                  "subscriptions_url": "https://api.github.com/users/YIC-Triumph/subscriptions",
                  "organizations_url": "https://api.github.com/users/YIC-Triumph/orgs",
                  "repos_url": "https://api.github.com/users/YIC-Triumph/repos",
                  "events_url": "https://api.github.com/users/YIC-Triumph/events{/privacy}",
                  "received_events_url": "https://api.github.com/users/YIC-Triumph/received_events",
                  "type": "Organization",
                  "user_view_type": "public",
                  "site_admin": false
                },
                "repo": {
                  "id": 942212744,
                  "node_id": "R_kgDOOCkGiA",
                  "name": "trinote2.0",
                  "full_name": "YIC-Triumph/trinote2.0",
                  "private": true,
                  "owner": {
                    "login": "YIC-Triumph",
                    "id": 156126668,
                    "node_id": "O_kgDOCU5NzA",
                    "avatar_url": "https://avatars.githubusercontent.com/u/156126668?v=4",
                    "gravatar_id": "",
                    "url": "https://api.github.com/users/YIC-Triumph",
                    "html_url": "https://github.com/YIC-Triumph",
                    "followers_url": "https://api.github.com/users/YIC-Triumph/followers",
                    "following_url": "https://api.github.com/users/YIC-Triumph/following{/other_user}",
                    "gists_url": "https://api.github.com/users/YIC-Triumph/gists{/gist_id}",
                    "starred_url": "https://api.github.com/users/YIC-Triumph/starred{/owner}{/repo}",
                    "subscriptions_url": "https://api.github.com/users/YIC-Triumph/subscriptions",
                    "organizations_url": "https://api.github.com/users/YIC-Triumph/orgs",
                    "repos_url": "https://api.github.com/users/YIC-Triumph/repos",
                    "events_url": "https://api.github.com/users/YIC-Triumph/events{/privacy}",
                    "received_events_url": "https://api.github.com/users/YIC-Triumph/received_events",
                    "type": "Organization",
                    "user_view_type": "public",
                    "site_admin": false
                  },
                  "html_url": "https://github.com/YIC-Triumph/trinote2.0",
                  "description": null,
                  "fork": false,
                  "url": "https://api.github.com/repos/YIC-Triumph/trinote2.0",
                  "forks_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/forks",
                  "keys_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/keys{/key_id}",
                  "collaborators_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/collaborators{/collaborator}",
                  "teams_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/teams",
                  "hooks_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/hooks",
                  "issue_events_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues/events{/number}",
                  "events_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/events",
                  "assignees_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/assignees{/user}",
                  "branches_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/branches{/branch}",
                  "tags_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/tags",
                  "blobs_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/blobs{/sha}",
                  "git_tags_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/tags{/sha}",
                  "git_refs_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/refs{/sha}",
                  "trees_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/trees{/sha}",
                  "statuses_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/statuses/{sha}",
                  "languages_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/languages",
                  "stargazers_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/stargazers",
                  "contributors_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/contributors",
                  "subscribers_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/subscribers",
                  "subscription_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/subscription",
                  "commits_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/commits{/sha}",
                  "git_commits_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/commits{/sha}",
                  "comments_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/comments{/number}",
                  "issue_comment_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues/comments{/number}",
                  "contents_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/contents/{+path}",
                  "compare_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/compare/{base}...{head}",
                  "merges_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/merges",
                  "archive_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/{archive_format}{/ref}",
                  "downloads_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/downloads",
                  "issues_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues{/number}",
                  "pulls_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls{/number}",
                  "milestones_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/milestones{/number}",
                  "notifications_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/notifications{?since,all,participating}",
                  "labels_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/labels{/name}",
                  "releases_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/releases{/id}",
                  "deployments_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/deployments",
                  "created_at": "2025-03-03T18:52:12Z",
                  "updated_at": "2025-07-11T09:34:16Z",
                  "pushed_at": "2025-07-14T10:52:29Z",
                  "git_url": "git://github.com/YIC-Triumph/trinote2.0.git",
                  "ssh_url": "git@github.com:YIC-Triumph/trinote2.0.git",
                  "clone_url": "https://github.com/YIC-Triumph/trinote2.0.git",
                  "svn_url": "https://github.com/YIC-Triumph/trinote2.0",
                  "homepage": null,
                  "size": 35153,
                  "stargazers_count": 0,
                  "watchers_count": 0,
                  "language": "JavaScript",
                  "has_issues": true,
                  "has_projects": true,
                  "has_downloads": true,
                  "has_wiki": true,
                  "has_pages": false,
                  "has_discussions": false,
                  "forks_count": 0,
                  "mirror_url": null,
                  "archived": false,
                  "disabled": false,
                  "open_issues_count": 23,
                  "license": null,
                  "allow_forking": false,
                  "is_template": false,
                  "web_commit_signoff_required": false,
                  "topics": [],
                  "visibility": "private",
                  "forks": 0,
                  "open_issues": 23,
                  "watchers": 0,
                  "default_branch": "main",
                  "allow_squash_merge": true,
                  "allow_merge_commit": true,
                  "allow_rebase_merge": true,
                  "allow_auto_merge": false,
                  "delete_branch_on_merge": false,
                  "allow_update_branch": false,
                  "use_squash_pr_title_as_default": false,
                  "squash_merge_commit_message": "COMMIT_MESSAGES",
                  "squash_merge_commit_title": "COMMIT_OR_PR_TITLE",
                  "merge_commit_message": "PR_TITLE",
                  "merge_commit_title": "MERGE_MESSAGE"
                }
              },
              "base": {
                "label": "YIC-Triumph:main",
                "ref": "main",
                "sha": "0248266e0f4cb6f8091831a4602527cea8b18e89",
                "user": {
                  "login": "YIC-Triumph",
                  "id": 156126668,
                  "node_id": "O_kgDOCU5NzA",
                  "avatar_url": "https://avatars.githubusercontent.com/u/156126668?v=4",
                  "gravatar_id": "",
                  "url": "https://api.github.com/users/YIC-Triumph",
                  "html_url": "https://github.com/YIC-Triumph",
                  "followers_url": "https://api.github.com/users/YIC-Triumph/followers",
                  "following_url": "https://api.github.com/users/YIC-Triumph/following{/other_user}",
                  "gists_url": "https://api.github.com/users/YIC-Triumph/gists{/gist_id}",
                  "starred_url": "https://api.github.com/users/YIC-Triumph/starred{/owner}{/repo}",
                  "subscriptions_url": "https://api.github.com/users/YIC-Triumph/subscriptions",
                  "organizations_url": "https://api.github.com/users/YIC-Triumph/orgs",
                  "repos_url": "https://api.github.com/users/YIC-Triumph/repos",
                  "events_url": "https://api.github.com/users/YIC-Triumph/events{/privacy}",
                  "received_events_url": "https://api.github.com/users/YIC-Triumph/received_events",
                  "type": "Organization",
                  "user_view_type": "public",
                  "site_admin": false
                },
                "repo": {
                  "id": 942212744,
                  "node_id": "R_kgDOOCkGiA",
                  "name": "trinote2.0",
                  "full_name": "YIC-Triumph/trinote2.0",
                  "private": true,
                  "owner": {
                    "login": "YIC-Triumph",
                    "id": 156126668,
                    "node_id": "O_kgDOCU5NzA",
                    "avatar_url": "https://avatars.githubusercontent.com/u/156126668?v=4",
                    "gravatar_id": "",
                    "url": "https://api.github.com/users/YIC-Triumph",
                    "html_url": "https://github.com/YIC-Triumph",
                    "followers_url": "https://api.github.com/users/YIC-Triumph/followers",
                    "following_url": "https://api.github.com/users/YIC-Triumph/following{/other_user}",
                    "gists_url": "https://api.github.com/users/YIC-Triumph/gists{/gist_id}",
                    "starred_url": "https://api.github.com/users/YIC-Triumph/starred{/owner}{/repo}",
                    "subscriptions_url": "https://api.github.com/users/YIC-Triumph/subscriptions",
                    "organizations_url": "https://api.github.com/users/YIC-Triumph/orgs",
                    "repos_url": "https://api.github.com/users/YIC-Triumph/repos",
                    "events_url": "https://api.github.com/users/YIC-Triumph/events{/privacy}",
                    "received_events_url": "https://api.github.com/users/YIC-Triumph/received_events",
                    "type": "Organization",
                    "user_view_type": "public",
                    "site_admin": false
                  },
                  "html_url": "https://github.com/YIC-Triumph/trinote2.0",
                  "description": null,
                  "fork": false,
                  "url": "https://api.github.com/repos/YIC-Triumph/trinote2.0",
                  "forks_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/forks",
                  "keys_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/keys{/key_id}",
                  "collaborators_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/collaborators{/collaborator}",
                  "teams_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/teams",
                  "hooks_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/hooks",
                  "issue_events_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues/events{/number}",
                  "events_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/events",
                  "assignees_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/assignees{/user}",
                  "branches_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/branches{/branch}",
                  "tags_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/tags",
                  "blobs_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/blobs{/sha}",
                  "git_tags_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/tags{/sha}",
                  "git_refs_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/refs{/sha}",
                  "trees_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/trees{/sha}",
                  "statuses_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/statuses/{sha}",
                  "languages_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/languages",
                  "stargazers_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/stargazers",
                  "contributors_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/contributors",
                  "subscribers_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/subscribers",
                  "subscription_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/subscription",
                  "commits_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/commits{/sha}",
                  "git_commits_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/commits{/sha}",
                  "comments_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/comments{/number}",
                  "issue_comment_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues/comments{/number}",
                  "contents_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/contents/{+path}",
                  "compare_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/compare/{base}...{head}",
                  "merges_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/merges",
                  "archive_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/{archive_format}{/ref}",
                  "downloads_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/downloads",
                  "issues_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues{/number}",
                  "pulls_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls{/number}",
                  "milestones_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/milestones{/number}",
                  "notifications_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/notifications{?since,all,participating}",
                  "labels_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/labels{/name}",
                  "releases_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/releases{/id}",
                  "deployments_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/deployments",
                  "created_at": "2025-03-03T18:52:12Z",
                  "updated_at": "2025-07-11T09:34:16Z",
                  "pushed_at": "2025-07-14T10:52:29Z",
                  "git_url": "git://github.com/YIC-Triumph/trinote2.0.git",
                  "ssh_url": "git@github.com:YIC-Triumph/trinote2.0.git",
                  "clone_url": "https://github.com/YIC-Triumph/trinote2.0.git",
                  "svn_url": "https://github.com/YIC-Triumph/trinote2.0",
                  "homepage": null,
                  "size": 35153,
                  "stargazers_count": 0,
                  "watchers_count": 0,
                  "language": "JavaScript",
                  "has_issues": true,
                  "has_projects": true,
                  "has_downloads": true,
                  "has_wiki": true,
                  "has_pages": false,
                  "has_discussions": false,
                  "forks_count": 0,
                  "mirror_url": null,
                  "archived": false,
                  "disabled": false,
                  "open_issues_count": 23,
                  "license": null,
                  "allow_forking": false,
                  "is_template": false,
                  "web_commit_signoff_required": false,
                  "topics": [],
                  "visibility": "private",
                  "forks": 0,
                  "open_issues": 23,
                  "watchers": 0,
                  "default_branch": "main",
                  "allow_squash_merge": true,
                  "allow_merge_commit": true,
                  "allow_rebase_merge": true,
                  "allow_auto_merge": false,
                  "delete_branch_on_merge": false,
                  "allow_update_branch": false,
                  "use_squash_pr_title_as_default": false,
                  "squash_merge_commit_message": "COMMIT_MESSAGES",
                  "squash_merge_commit_title": "COMMIT_OR_PR_TITLE",
                  "merge_commit_message": "PR_TITLE",
                  "merge_commit_title": "MERGE_MESSAGE"
                }
              },
              "_links": {
                "self": {
                  "href": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/223"
                },
                "html": {
                  "href": "https://github.com/YIC-Triumph/trinote2.0/pull/223"
                },
                "issue": {
                  "href": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues/223"
                },
                "comments": {
                  "href": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues/223/comments"
                },
                "review_comments": {
                  "href": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/223/comments"
                },
                "review_comment": {
                  "href": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/comments{/number}"
                },
                "commits": {
                  "href": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls/223/commits"
                },
                "statuses": {
                  "href": "https://api.github.com/repos/YIC-Triumph/trinote2.0/statuses/d98c7bd0114786b996d57f53e440d2d29ebfeaf2"
                }
              },
              "author_association": "COLLABORATOR",
              "auto_merge": null,
              "active_lock_reason": null
            },
            "repository": {
              "id": 942212744,
              "node_id": "R_kgDOOCkGiA",
              "name": "trinote2.0",
              "full_name": "YIC-Triumph/trinote2.0",
              "private": true,
              "owner": {
                "login": "YIC-Triumph",
                "id": 156126668,
                "node_id": "O_kgDOCU5NzA",
                "avatar_url": "https://avatars.githubusercontent.com/u/156126668?v=4",
                "gravatar_id": "",
                "url": "https://api.github.com/users/YIC-Triumph",
                "html_url": "https://github.com/YIC-Triumph",
                "followers_url": "https://api.github.com/users/YIC-Triumph/followers",
                "following_url": "https://api.github.com/users/YIC-Triumph/following{/other_user}",
                "gists_url": "https://api.github.com/users/YIC-Triumph/gists{/gist_id}",
                "starred_url": "https://api.github.com/users/YIC-Triumph/starred{/owner}{/repo}",
                "subscriptions_url": "https://api.github.com/users/YIC-Triumph/subscriptions",
                "organizations_url": "https://api.github.com/users/YIC-Triumph/orgs",
                "repos_url": "https://api.github.com/users/YIC-Triumph/repos",
                "events_url": "https://api.github.com/users/YIC-Triumph/events{/privacy}",
                "received_events_url": "https://api.github.com/users/YIC-Triumph/received_events",
                "type": "Organization",
                "user_view_type": "public",
                "site_admin": false
              },
              "html_url": "https://github.com/YIC-Triumph/trinote2.0",
              "description": null,
              "fork": false,
              "url": "https://api.github.com/repos/YIC-Triumph/trinote2.0",
              "forks_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/forks",
              "keys_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/keys{/key_id}",
              "collaborators_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/collaborators{/collaborator}",
              "teams_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/teams",
              "hooks_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/hooks",
              "issue_events_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues/events{/number}",
              "events_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/events",
              "assignees_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/assignees{/user}",
              "branches_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/branches{/branch}",
              "tags_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/tags",
              "blobs_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/blobs{/sha}",
              "git_tags_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/tags{/sha}",
              "git_refs_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/refs{/sha}",
              "trees_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/trees{/sha}",
              "statuses_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/statuses/{sha}",
              "languages_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/languages",
              "stargazers_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/stargazers",
              "contributors_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/contributors",
              "subscribers_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/subscribers",
              "subscription_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/subscription",
              "commits_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/commits{/sha}",
              "git_commits_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/git/commits{/sha}",
              "comments_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/comments{/number}",
              "issue_comment_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues/comments{/number}",
              "contents_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/contents/{+path}",
              "compare_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/compare/{base}...{head}",
              "merges_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/merges",
              "archive_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/{archive_format}{/ref}",
              "downloads_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/downloads",
              "issues_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/issues{/number}",
              "pulls_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/pulls{/number}",
              "milestones_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/milestones{/number}",
              "notifications_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/notifications{?since,all,participating}",
              "labels_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/labels{/name}",
              "releases_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/releases{/id}",
              "deployments_url": "https://api.github.com/repos/YIC-Triumph/trinote2.0/deployments",
              "created_at": "2025-03-03T18:52:12Z",
              "updated_at": "2025-07-11T09:34:16Z",
              "pushed_at": "2025-07-14T10:52:29Z",
              "git_url": "git://github.com/YIC-Triumph/trinote2.0.git",
              "ssh_url": "git@github.com:YIC-Triumph/trinote2.0.git",
              "clone_url": "https://github.com/YIC-Triumph/trinote2.0.git",
              "svn_url": "https://github.com/YIC-Triumph/trinote2.0",
              "homepage": null,
              "size": 35153,
              "stargazers_count": 0,
              "watchers_count": 0,
              "language": "JavaScript",
              "has_issues": true,
              "has_projects": true,
              "has_downloads": true,
              "has_wiki": true,
              "has_pages": false,
              "has_discussions": false,
              "forks_count": 0,
              "mirror_url": null,
              "archived": false,
              "disabled": false,
              "open_issues_count": 23,
              "license": null,
              "allow_forking": false,
              "is_template": false,
              "web_commit_signoff_required": false,
              "topics": [],
              "visibility": "private",
              "forks": 0,
              "open_issues": 23,
              "watchers": 0,
              "default_branch": "main",
              "custom_properties": {}
            },
            "organization": {
              "login": "YIC-Triumph",
              "id": 156126668,
              "node_id": "O_kgDOCU5NzA",
              "url": "https://api.github.com/orgs/YIC-Triumph",
              "repos_url": "https://api.github.com/orgs/YIC-Triumph/repos",
              "events_url": "https://api.github.com/orgs/YIC-Triumph/events",
              "hooks_url": "https://api.github.com/orgs/YIC-Triumph/hooks",
              "issues_url": "https://api.github.com/orgs/YIC-Triumph/issues",
              "members_url": "https://api.github.com/orgs/YIC-Triumph/members{/member}",
              "public_members_url": "https://api.github.com/orgs/YIC-Triumph/public_members{/member}",
              "avatar_url": "https://avatars.githubusercontent.com/u/156126668?v=4",
              "description": null
            },
            "sender": {
              "login": "delorenj",
              "id": 242611,
              "node_id": "MDQ6VXNlcjI0MjYxMQ==",
              "avatar_url": "https://avatars.githubusercontent.com/u/242611?v=4",
              "gravatar_id": "",
              "url": "https://api.github.com/users/delorenj",
              "html_url": "https://github.com/delorenj",
              "followers_url": "https://api.github.com/users/delorenj/followers",
              "following_url": "https://api.github.com/users/delorenj/following{/other_user}",
              "gists_url": "https://api.github.com/users/delorenj/gists{/gist_id}",
              "starred_url": "https://api.github.com/users/delorenj/starred{/owner}{/repo}",
              "subscriptions_url": "https://api.github.com/users/delorenj/subscriptions",
              "organizations_url": "https://api.github.com/users/delorenj/orgs",
              "repos_url": "https://api.github.com/users/delorenj/repos",
              "events_url": "https://api.github.com/users/delorenj/events{/privacy}",
              "received_events_url": "https://api.github.com/users/delorenj/received_events",
              "type": "User",
              "user_view_type": "public",
              "site_admin": false
            }
          },
          "webhookUrl": "http://localhost:5678/webhook/pr-events",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Parse Webhook Data1": {
      "main": [
        [
          {
            "node": "Route by Event Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Event Type1": {
      "main": [
        [
          {
            "node": "New PR Worktree1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Address Comment Worktree1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PR Updated Worktree1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Worktree Path3": {
      "main": [
        [
          {
            "node": "OpenCode PR Review3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Parse Webhook Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenCode PR Review3": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenCode PR Review4": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenCode PR Review5": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New PR Worktree1": {
      "main": [
        [
          {
            "node": "Set Worktree Path3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Address Comment Worktree1": {
      "main": [
        [
          {
            "node": "Set Worktree Path4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PR Updated Worktree1": {
      "main": [
        [
          {
            "node": "Set Worktree Path5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Worktree Path4": {
      "main": [
        [
          {
            "node": "OpenCode PR Review4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Worktree Path5": {
      "main": [
        [
          {
            "node": "OpenCode PR Review5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ad762b24-5ec1-49a8-a1d2-944d2ab79f2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3c84561a28d140faaca6df3dd8af78ebe62704589f3369fc804248a689e90aa"
  },
  "id": "cBbi6KlmUdW1DsLo",
  "tags": []
}